.containerForm {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 600px;
    background: var(--background_color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 15px,
    rgba(0, 0, 0, 0.12) 0px -12px 10px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.containerForm .titreForm {
    position: relative;
    top: 45px;
    text-align: center;
    font-family: var(--typo_texte);
    font-size: 30px;
    text-transform: uppercase;
    color: var(--texte);
}
.containerForm .prenomInp, .nomInp, .emailInp, .passwordInp, .telephoneInp, .ligueInp {
    display: block;
    margin: 0px auto;
    outline: 0;
    background: none;
    padding: 15px;
    box-sizing: border-box;
    font-size: 20px;
    width: 250px;
    height: 35px;
    border: 0;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
    color: var(--texte);
    cursor: pointer;
}
.containerForm .prenomInp {
    position: absolute;
    left: 125px;
    top: 140px;
}
.containerForm .nomInp {
    position: absolute;
    left: 450px;
    top: 140px;
}
.containerForm .emailInp {
    position: absolute;
    left: 125px;
    top: 270px;
}
.containerForm .passwordInp {
    position: absolute;
    left: 450px;
    top: 270px;
}
.containerForm .telephoneInp {
    position: absolute;
    left: 125px;
    top: 400px;
}
.containerForm .ligueInp {
    position: absolute;
    left: 450px;
    top: 400px;
}
.containerForm .labelPrenom, .labelNom, .labelEmail, .labelPassword, .labelTelephone, .labelLigue {
    font-family: var(--typo_texte);
    text-transform: uppercase;
    color: var(--texte);
}
.containerForm .labelPrenom {
    position: absolute;
    left: 110px;
    top: 120px;
}
.containerForm .labelNom {
    position: absolute;
    left: 435px;
    top: 120px;
}
.containerForm .labelEmail {
    position: absolute;
    left: 110px;
    top: 251px;
}
.containerForm .labelPassword{
    position: absolute;
    left: 435px;
    top: 251px;
}
.containerForm .labelTelephone{
    position: absolute;
    left: 110px;
    top: 380px;
}
.containerForm .labelLigue{
    position: absolute;
    left: 435px;
    top: 380px;
}
.containerForm .ligne1 {
    width: 250px;
    height: 3px;
    border-radius: 5px;
    background: var(--texte);
    position: absolute;
    left: 111px;
    top: 170px;
}
.containerForm .ligne2 {
    width: 250px;
    height: 3px;
    border-radius: 5px;
    background: var(--texte);
    position: absolute;
    left: 436px;
    top: 170px;
}
.containerForm .ligne3 {
    width: 250px;
    height: 3px;
    border-radius: 5px;
    background: var(--texte);
    position: absolute;
    left: 111px;
    top: 298px;
}
.containerForm .ligne4 {
    width: 250px;
    height: 3px;
    border-radius: 5px;
    background: var(--texte);
    position: absolute;
    left: 436px;
    top: 298px;
}
.containerForm .ligne5 {
    width: 250px;
    height: 3px;
    border-radius: 5px;
    background: var(--texte);
    position: absolute;
    left: 111px;
    top: 430px;
}
.containerForm .ligne6 {
    width: 250px;
    height: 3px;
    border-radius: 5px;
    background: var(--texte);
    position: absolute;
    left: 436px;
    top: 430px;
}
.containerForm .buttonInp {
    position: absolute;
    left: 50%;
    top: 83%;
    transform: translateX(-50%);
    border: none;
    border-radius: 9999px;
    width: 120px;
    height: 45px;
    color: #FEFAF0;
    background: var(--texte);
    font-family: var(--typo_texte);
    font-size: 20px;
    padding-bottom: 4px;
}
.containerForm .buttonInp:hover {
    background: #094480;
}
.containerForm .logo-user1 {
    width: 25px;
    height: 25px;
    color: var(--texte);
    position: absolute;
    left: 110px;
    top: 140px;
}
.containerForm .logo-user2 {
    width: 25px;
    height: 25px;
    color: var(--texte);
    position: absolute;
    left: 435px;
    top: 140px;
}
.containerForm .logo-lock {
    width: 25px;
    height: 25px;
    color: var(--texte);
    position: absolute;
    left: 435px;
    top: 270px;
}
.containerForm .logo-mail {
    width: 25px;
    height: 25px;
    color: var(--texte);
    position: absolute;
    left: 111px;
    top: 270px;
}
.containerForm .logo-phone {
    width: 25px;
    height: 25px;
    color: var(--texte);
    position: absolute;
    left: 111px;
    top: 401px;
}
.containerForm .logo-trophy {
    width: 25px;
    height: 25px;
    color: var(--texte);
    position: absolute;
    left: 435px;
    top: 404px;
}
@media screen and (max-width: 800px){
    .containerForm {
        width: 500px;
        height: 600px;
    }
    .labelNom {
        left: 110px;
        top: 185px;
    }
    .nomInp {
        left: 125px;
        top: 205px;
    }
    .ligne2 {
        left: 110px;
        top: 235px;
    }
    .logo-user2 {
        left: 110px;
        top: 205px;
    }
    .labelPassword {
        left: 110px;
        top: 315px;
    }
    .passwordInp {
        left: 125px;
        top: 335px;
    }
    .ligne4 {
        left: 110px;
        top: 365px;
    }
    .logo-lock {
        left: 110px;
        top: 335px;
    }
    .labelLigue {
        left: 110px;
        top: 445px;
    }
    .ligueInp {
        left: 125px;
        top: 465px;
    }
    .ligne6 {
        left: 110px;
        top: 495px;
    }
    .logo-trophy {
        left: 110px;
        top: 465px;
    }
    .buttonInp {
        top: 87%;
    }
}
@media screen and (max-width: 530px) {
    .containerForm {
        width: 370px;
        height: 600px;
    }
    .ligne1, .ligne2, .ligne3, .ligne4, .ligne5, .ligne6 {
        left: 50%;
        transform: translateX(-50%);
    }
    .labelPrenom, .labelNom, .labelEmail, .labelLigue, .labelPassword, .labelTelephone {
        left: 59px;
    }
    .emailInp, .nomInp, .ligueInp, .prenomInp, .passwordInp, .telephoneInp {
        left: 20%;
    }
    .logo-lock, .logo-mail, .logo-phone, .logo-trophy, .logo-user1, .logo-user2 {
        left: 59px;
    }
    .labelNom{
        top: 185px;
    }
    .nomInp {
        top: 205px;
    }
    .ligne2 {
        top: 235px;
    }
    .labelPassword {
        top: 315px;
    }
    .passwordInp {
        top: 335px;
    }
    .ligne4 {
        top: 365px;
    }
    .labelLigue {
        top: 445px;
    }
    .ligueInp {
        top: 465px;
    }
    .ligne6 {
        top: 495px;
    }
    .buttonInp {
        top: 87%;
    }
}