/* header */

.navbar {
  position: sticky;
  background-color: var(--marron_beige);
  top: 0;
  z-index: 4;
  width: 100%;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.15),
    0 5px 9px rgba(0, 0, 0, 0.15), 0 6px 10px rgba(0, 0, 0, 0.15);
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.navbar a img {
  height: 4rem;
  /* margin: 0.5rem; */
}

.navbar ul {
  padding: 0rem;
  list-style: none;
  overflow: hidden;
  background-color: var(--titre);
}

.navbar li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-family: var(--texte), monospace;
  font-style: italic;
}

.navbar ul li a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.4s ease;
}

.navbar ul li a:hover:after,
.navbar ul li a:focus:after {
  width: 100%;
  background: var(--marron_beige);
  color: var(--texte);
}

.navbar ul li a {
  font-size: 1.7em;
  color: #fff;
  text-decoration: none;
}

.navbar ul li a:hover,
.navbar ul li a:focus {
  font-size: 1.7em;
  color: var(--marron_beige);
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.hamburger {
  display: none;
}

.hamburger .bar:nth-child(2) {
  background-color: var(--marron_beige);
}

.bar {
  display: block;
  width: 45px;
  height: 5px;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.nav_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav_link {
  color: #475569;
  padding: 8px;
}

.navbar ul li:not(:last-child) {
  margin-right: 15px;
}

.nav-is-stuck .navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.15),
    0 5px 9px rgba(0, 0, 0, 0.15), 0 6px 10px rgba(0, 0, 0, 0.15);
  animation: stickAnim 0.3s;
}

.nav_link.active {
  color: var(--marron_beige);
}

@keyframes stickAnim {
  0% {
    transform: translateY(-86px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ---------------------- media queries ---------------------- */

@media only screen and (max-width: 768px) {
  /* .navbar {
      position: sticky;
    } */

  .nav_menu {
    position: fixed;
    left: 100%;
    top: 4rem;
    flex-direction: column;
    width: 100%;
    border-radius: 0 0 10px 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav_menu.active {
    left: 0;
  }

  .nav_item {
    margin: 1rem 0;
  }

  .navbar ul li:not(:last-child){
    margin-right: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    background-color: var(--marron_beige);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
    background-color: var(--marron_beige);
  }
}

@media only screen and (max-width: 425px) {
  .navbar a img {
    height: 3.7rem;
    margin: 0.5rem;
  }

  .nav_menu {
    top: 5rem;
  }

  .navbar ul li a {
    font-size: 1rem;
  }

  .navbar ul li a:hover {
    font-size: 1rem;
  }

  .nav_item {
    margin: 1rem 0;
    margin-right: 0;
  }

  .nav_link {
    font-weight: 400;
    padding: 0.5rem;
  }
}