.bandeau {
  min-height: 800px;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  background-size: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bandeau h1 {
  color: var(--titre);
  font-family: var(--typo_texte);
  font-size: 350%;
  padding-top: 150px;
  padding-bottom: 20px;
  margin: 0px 30px;
  text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
}

.bandeau h3 {
  color: var(--texte);
  font-family: var(--typo_texte);
  font-size: 30px;
  text-align: justify;
  margin: 0px 30px;
  line-height: 1.5;
  text-shadow: 2px 0px 2px rgb(66, 60, 60);
}
