@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root{
    --typo_texte: "righteous";
    --background_color: #333;
    --titre: #565254;
    --texte: #fa7a1f;
    --marron_beige: #dbd3c9;
}



* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: var(--background_color);
}
