@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root{
    --typo_texte: "righteous";
    --background_color: #FEC107;
    --titre: #E22332;
    --texte: #135496;
    --blanc: #FEFAF0;
}



* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: var(--background_color);
}
