
*{
    background-color: transparent;

}

.container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  
  
}

h1 {
    margin-bottom: 100px;
}

.formulaire {
padding-bottom: auto;
width: 800px;
height: 600px;
display: flex;
justify-content: center;
align-items: center;
background-color: #FEC107;
font-size: 25px;
border: #135496 solid;
border-radius: 20px;
color: #135496; ;
box-shadow: 5px 5px 10px #135496   ;
}

.input1  {
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.input1 input {
    font-size: 25px;
    color: #135496;
    outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid #135496;

    
}

.input2 {
    display: flex;
    flex-direction: column;
    font-size: 25px;

}



.input2 select {
    font-size: 25px;
    color: #135496;
    
}


@media screen and (max-width: 800px)
{
  .formulaire {
        width: 400px;
        height: 500px;
        
      
    }
}

