.bg_NotFound {
    height: 100vh;
    width: 100%;
    background: url(../../assets/img/dan-gold-tIHb8sIvWPk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.h2_NotFound {
    text-align: center;
    font-family: var(--typo_texte);
    color: var(--blanc);
    font-size: 70px;
    position: relative;
    top: 100px;
    text-shadow: 2px 2px 8px #333;
}
.h3_NotFound {
    text-align: center;
    font-family: var(--typo_texte);
    color: var(--texte);
    font-size: 80px;
    position: relative;
    top: 100px;
    text-shadow: 2px 2px 8px #f1f1f1;
}
.p_NotFound {
    text-align: center;
    font-family: var(--typo_texte);
    color: var(--texte);
    font-size: 60px;
    position: relative;
    top: 100px;
    text-shadow: 2px 2px 8px #f1f1f1;
}

